body, html
{
    height: 100%;
}

h1
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 30px;
}

h2
{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #373737;
    text-align: center;
}

h3
{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #7f7f7f;
}

th
{
    font-weight: bold;
}

.header-class
{
    font-family: Georgia, Times, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    border-bottom: 3px solid #666666;
    padding: 20px 0px;
}

.card
{
    margin-bottom: 20px;
}

.remove-button
{
    text-align: center;
    
}

#dtime
{
    text-align: center;
}

#canvas-div
{
    width: 100%;
}

#page-body
{
    background-image: url("../images/mosaic.png");
    flex: 1 0 auto;
}

#sticky-footer
{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}
