body, html
{
    height: 100%;
    background-image: url("../images/noisy_net.png");
    overflow-x: hidden;
    font-size: 16px;
}

h1
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

h2
{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #373737;
    text-align: center;
}

h3
{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #7f7f7f;
}

h4
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 30px;
}

th
{
    font-weight: bold;
}

.card
{
    margin-bottom: 20px;
}

.remove-button
{
    text-align: center;
}

.time-low
{
    color: #ff0000;
}

#dtime
{
    text-align: center;
}

#canvas-div
{
    width: 100%;
}

#page-body
{
    flex: 1 0 auto;
}

/******************************************** Header *********************************************/
.header-class
{
    font-family: Georgia, Times, serif;
    text-align: center;
    background-color: rgba(30, 47, 126, 0.3);
    color: #ffffff;
    font-size: 30px;
    border-bottom: 3px solid #666666;
    padding: 20px 0px;
}

.nav-link
{
    font-family:  sans-serif;
    font-size:    20px;
}

.nav-title
{
    height: 100%;
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.nav-title:hover,
.nav-link:hover
{
    background-color:  rgba(30, 47, 126, 1);
    border-radius: 5px;
}

/******************************************** Footer *********************************************/
footer
{
    border-top: 1px solid #666666;
    background-color: rgba(30, 47, 126, 0.3);
    color: #ffffff;
}